.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Light Theme Styles */
.light {
  background-color: white;
  color: black;
}

/* Dark Theme Styles */
.dark {
  background-color: #333;
  color: white;
}

.dark.to-do-container{
  background-color: white;
}

/* Toggle Button Styles (optional) */
button {
  padding: 10px;
  margin: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
}

button:active{
  box-shadow: none;
}


.to-do-container{
  width: 400px;
  min-height: 500px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
